<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>

    <head>

        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>{{ title }}</title>

        <style>

            :root {

                --footer-background-color: {{ config_event_manager_email_footer_background }};
                --footer-text-color: {{ config_event_manager_email_footer_text_color }};

            }

            body {

                font-family: 'Nunito';

            }

            .mail-content {

                min-width: 700px;
                overflow-x: auto;
                max-width: 80%;
                padding-left: 10%;
                padding-right: 10%;

            }

            .content-body {

                padding: 20px 10%;

            }

            .content-footer {

                background-color: var(--footer-background-color);
                color: var(--footer-text-color);
                font-size: 12px;
                padding: 20px 10%;

            }

            .separator-line {

                border: 1px solid var(--footer-background-color);

            }

            .contact-tag {

                display: inline-block;
                width: 33%;

            }

            .contacts-website {

                float: left;
                text-align: left;

            }

            .contacts-mail {

                text-align: center;

            }

            .contacts-telephone {

                float: right;
                text-align: right;

            }

            a {

                color: inherit;
                text-decoration: inherit;

            }

            .check-order {

                color: var(--footer-background-color);;
                text-decoration: none;
                font-weight: 800;
                transition: all 300ms;

            }

            .check-order:hover {

                font-size: 20px;

            }

            .products-table {

                border-collapse: collapse;
                width: 100%;
                border-top: 1px solid var(--footer-background-color);
                border-left: 1px solid var(--footer-background-color);
                margin-bottom: 20px;

            }

            .link-button {

                background-color: var(--footer-background-color);
                color: var(--footer-text-color);
                padding: 5px;
                text-align:center;
                display:block;
                margin: 5px 35%;

            }

        </style>

    </head>

    <body >

        <div class="mail-content">

            <div class="content-header">

                <img width="100%" src="{{ config_event_manager_email_header_image }}">

            </div>

            <div class="content-body">

                <p>{{ text_welcome }}</p>
                <br>
                <p>{{ text_order_confirm }}</p>

                {% for product in products %}

                    <p>* {{ product.name }} ({{ product.price }}) x {{ product.quantity }} = {{ product.total }}</p>
                    {% for option in product.option %}
                        &nbsp;<small> - {{ option.name }}: {{ option.value }}</small>
                    {% endfor %}

                {% endfor %}

                {% for total in totals %}

                    <p>* {{ text_total }} {{ total.text }}</p>

                {% endfor %}

                <p>{{ text_check_order }}<span class="check-order"><a href="{{ link }}">{{ text_here }}</a></span></p>

            </div>

            <div class="content-footer">

                <span class="footer-header">{{ text_more_informations }}</span>

                <hr class="separator-line">

                <div class="footer-contacts">

                    <div class="contact-tag contacts-website">

                        <a href="{{ config_event_manager_email_footer_website }}">{{ config_event_manager_email_footer_website }}</a>

                    </div>

                    <div class="contact-tag contacts-mail">

                        <a href="mailto:{{ config_event_manager_email_footer_email }}">{{ config_event_manager_email_footer_email }}</a>

                    </div>

                    <div class="contact-tag contacts-telephone">

                        <a href="tel:{{ config_event_manager_email_footer_telephone }}">{{ config_event_manager_email_footer_telephone }}</a>

                    </div>

                </div>

            </div>

        </div>

    </body>

</html>