{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a id="preview" href="javascript:clearModalList();" data-toggle="tooltip" title="{{ button_print }}"
                   class="btn btn-secundary"><i class="fa fa-print"></i></a>
                <a id="download-csv" href="javascript:downloadCSV();" data-toggle="tooltip"
                   title="{{ button_export_csv }}" class="btn btn-secundary"><i class="fa fa-file-excel-o"></i></a>
                <button type="button" data-toggle="tooltip" title="{{ button_filter }}"
                        onclick="$('#filter-report').toggleClass('hidden-sm hidden-xs');"
                        class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">

            <div class="row">

                <div id="filter-report" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label" for="input-date-start">{{ entry_date_start }}</label>
                                <div class="input-group date">
                                    <input type="text" name="filter_date_start" value="{{ filter_date_start }}"
                                           placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD"
                                           id="input-date-start" class="form-control"/>
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-date-end">{{ entry_date_end }}</label>
                                <div class="input-group date">
                                    <input type="text" name="filter_date_end" value="{{ filter_date_end }}"
                                           placeholder="{{ entry_date_end }}" data-date-format="YYYY-MM-DD"
                                           id="input-date-end" class="form-control"/>
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
            </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="input-status">{{ entry_type }}</label>
                                <select name="filter_report_type" id="input-status" class="form-control">

                                    {% if filter_report_type == 'simple' %}

                                        <option value="simple" selected="selected">{{ text_simple }}</option>
                                        <option value="detailed">{{ text_detailed }}</option>

                                    {% else %}

                                        <option value="simple">{{ text_simple }}</option>
                                        <option value="detailed" selected="selected">{{ text_detailed }}</option>

                                    {% endif %}

                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="input-company">{{ entry_company }}</label>
                                <input type="text" name="filter_company" value="{{ filter_company }}"
                                       placeholder="{{ entry_company }}" id="input-company" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="input-status">{{ entry_partner }}</label>
                                <select name="filter_partner" id="input-status" class="form-control">
                                    <option value="0">{{ text_all_partners }}</option>

                                    {% for partner in partners %}
                                        {% if partner.partner_id == filter_partner %}

                                            <option value="{{ partner.partner_id }}"
                                                    selected="selected">{{ partner.name }}</option>

                                        {% else %}

                                            <option value="{{ partner.partner_id }}">{{ partner.name }}</option>

                                        {% endif %}
                                    {% endfor %}

                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="input-status">{{ entry_status }}</label>
                                <select name="filter_order_status_id" id="input-status" class="form-control">
                                    <option value="0">{{ text_all_status }}</option>

                                    {% for order_status in order_statuses %}
                                        {% if order_status.order_status_id == filter_order_status_id %}

                                            <option value="{{ order_status.order_status_id }}"
                                                    selected="selected">{{ order_status.name }}</option>

                                        {% else %}

                                            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>

                                        {% endif %}
                                    {% endfor %}

                                </select>
                            </div>
                            <div class="form-group text-right">
                                <button type="button" id="button-filter" class="btn btn-default"><i
                                            class="fa fa-filter"></i> {{ button_filter }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-md-pull-3 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart"></i> {{ heading_title }}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <td class="text-left">{{ column_date_time }}</td>
                                        <td class="text-left">{{ column_product_name }}</td>
                                        <td class="text-left">{{ column_tax }}</td>
                                        <td class="text-left">{{ column_price }}</td>
                                        <td class="text-left">{{ column_company }}</td>
                                        <td class="text-left">{{ column_partner }}</td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if orders %}
                                        {% for order in orders %}
                                            <tr>
                                                <td class="text-left">{{ order.datetime }}</td>
                                                <td class="text-left">{{ order.name }}
                                                    {% for option in order.options %}
                                                        <br/>&nbsp;
                                                        <small> - {{ option.name }}: {{ option.value }}</small>
                                                    {% endfor %}
                                                </td>
                                                <td class="text-left">{{ order.tax }}</td>
                                                <td class="text-left price">{{ order.price }}</td>
                                                <td class="text-left">{{ order.company }}</td>
                                                <td class="text-left">
                                                    {% for partner in order.partners %}
                                                        <br/>&nbsp;
                                                        <small class="partner"
                                                               data-partner-value="{{ partner.recipe_value }}"
                                                               data-partner-type="{{ partner.recipe_type }}">
                                                            - {{ partner.name }}</small>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="text-center" colspan="6">{{ text_no_results }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>

                                </table>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 text-left">{{ pagination }}</div>
                                <div class="col-sm-6 text-right">{{ results }}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td class="text-left">{{ column_date_time }}</td>
                                <td class="text-left">{{ column_product_name }}</td>
                                <td class="text-left">{{ column_tax }}</td>
                                <td class="text-left">{{ column_price }}</td>
                                <td class="text-left">{{ column_company }}</td>
                                <td class="text-left">{{ column_partner }}</td>
                            </tr>
                            </thead>
                            <tbody id="print-list-table">

                            {% if orders is empty %}
                                <tr>
                                    <td class="text-center" colspan="12">{{ text_no_results }}</td>
                                </tr>
                            {% endif %}

                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="print" href="javascript:printData();" data-toggle="tooltip"
                       title="{{ button_print }}" class="btn btn-secundary"><i class="fa fa-print"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>

    <div id="print-area" style="display: none; width: 100%;">

        <img src="{{ logo }}" style="height: auto; width: 150px; margin-bottom: 20px; border: none;"/>

        <table class="table table-bordered table-hover" style="width: 100%;">
            <thead>
            <tr>
                <td class="text-left">{{ column_date_time }}</td>
                <td class="text-left">{{ column_product_name }}</td>
                <td class="text-left">{{ column_tax }}</td>
                <td class="text-left">{{ column_price }}</td>
                <td class="text-left">{{ column_company }}</td>
                <td class="text-left">{{ column_partner }}</td>
            </tr>
            </thead>
            <tbody id="hidden-print-list-table">
            {% if orders is empty %}
                <tr>
                    <td class="text-center" colspan="12">{{ text_no_results }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>

    </div>

    <script type="text/javascript"><!--
        $('#button-filter').on('click', function () {
            var url = '';

            var filter_company = $('input[name=\'filter_company\']').val();

            if (filter_company) {

                url += '&filter_company=' + encodeURIComponent(filter_company);

            }

            var filter_date_start = $('input[name=\'filter_date_start\']').val();

            if (filter_date_start) {
                url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
            }

            var filter_date_end = $('input[name=\'filter_date_end\']').val();

            if (filter_date_end) {
                url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
            }

            var filter_report_type = $('select[name=\'filter_report_type\']').val();

            if (filter_report_type) {

                url += '&filter_report_type=' + encodeURIComponent(filter_report_type);

            }

            var filter_partner = $('select[name=\'filter_partner\']').val();

            if (filter_partner) {

                url += '&filter_partner=' + encodeURIComponent(filter_partner);

            }

            var filter_order_status_id = $('select[name=\'filter_order_status_id\']').val();

            if (filter_order_status_id != 0) {
                url += '&filter_order_status_id=' + encodeURIComponent(filter_order_status_id);
            }

            location = 'index.php?route=extension/module/event_manager/report&user_token={{ user_token }}' + url;
        });
        //--></script>
    <script type="text/javascript"><!--
        $('.date').datetimepicker({
            language: '{{ datepicker }}',
            pickTime: false
        });
        //--></script>
    <script type="text/javascript"><!--
        $('input[name=\'filter_company\']').autocomplete({
            'source': function (request, response) {
                $.ajax({
                    url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function (json) {
                        response($.map(json, function (item) {
                            return {
                                label: item['name'],
                                value: item['partner_id']
                            }
                        }));
                    }
                });
            },
            'select': function (item) {
                $('input[name=\'filter_company\']').val(item['label']);
            }
        });
        //--></script>

    <script type="text/javascript"><!--

        function downloadCSV() {

            var url = '';

            var filter_company = $('input[name=\'filter_company\']').val();

            if (filter_company) {

                url += '&filter_company=' + encodeURIComponent(filter_company);

            }

            var filter_date_start = $('input[name=\'filter_date_start\']').val();

            if (filter_date_start) {
                url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
            }

            var filter_date_end = $('input[name=\'filter_date_end\']').val();

            if (filter_date_end) {
                url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
            }

            var filter_report_type = $('select[name=\'filter_report_type\']').val();

            if (filter_report_type) {

                url += '&filter_report_type=' + encodeURIComponent(filter_report_type);

            }

            var filter_partner = $('select[name=\'filter_partner\']').val();

            if (filter_partner) {

                url += '&filter_partner=' + encodeURIComponent(filter_partner);

            }

            var filter_order_status_id = $('select[name=\'filter_order_status_id\']').val();

            if (filter_order_status_id != 0) {
                url += '&filter_order_status_id=' + encodeURIComponent(filter_order_status_id);
            }

            request_url = 'index.php?route=extension/module/event_manager/report/getAllOrders&user_token={{ user_token }}' + url;

            $.ajax({
                type: 'POST',
                url: request_url,
                dataType: 'json',
                beforeSend: function () {
                },
                success: function (data) {

                    var report_file = '"{{ column_date_time }}","{{ column_product_name }}","{{ column_options }}","{{ column_tax }}","{{ column_price }}","{{ column_company }}","{{ column_partner }}"\n';

                    var total_price = 0.00;
                    var total_tax = 0.00;
                    var partners_available = [];
                    var currency = '';
                    var partners_value = 0.00;

                    data['orders'].forEach(function (order) {

                        var order_options = [];

                        order.options.forEach(function (option) {

                            var opt = option.name + ': ' + option.value;

                            order_options.push(opt);

                        });

                        var order_partners = [];

                        order.partners.forEach(function (partner) {

                            var recipe_type = partner.recipe_type;
                            var recipe_value = partner.recipe_value;

                            var regexr = /(\d+\.\d+)(.)/g;

                            var match_price = regexr.exec(order.price);

                            var recipe_order_price = parseFloat(match_price[1]);

                            var calc_value = 0.00;

                            var resultObject = searchInArray(partner.name, partners_available);

                            if (resultObject == undefined) {

                                if (recipe_type == 'fix') {

                                    calc_value = parseFloat(recipe_value);
                                    partners_value = partners_value + calc_value;

                                } else {

                                    calc_value = (recipe_order_price * (parseFloat(recipe_value) / 100));
                                    partners_value = partners_value + calc_value;

                                }

                                partners_available.push({"name": partner.name, "value": calc_value});

                            } else {

                                if (recipe_type == 'fix') {

                                    calc_value = parseFloat(recipe_value);
                                    partners_available[resultObject]['value'] = partners_available[resultObject]['value'] + calc_value;
                                    partners_value = partners_value + calc_value;

                                } else {

                                    calc_value = (recipe_order_price * (parseFloat(recipe_value) / 100));
                                    partners_available[resultObject]['value'] = partners_available[resultObject]['value'] + calc_value;
                                    partners_value = partners_value + calc_value;

                                }

                            }

                            order_partners.push(partner.name);

                        });

                        report_file += order.datetime + ',' + order.name + ',' + '"' + order_options.join(", ") + '",' + order.tax + ',' + order.price + ',' + order.company + ',' + '"' + order_partners.join(", ") + '"' + '\n';

                        var regexr = /(\d+\.\d+)(.)/g;

                        var match_price = regexr.exec(order.price);

                        total_price += parseFloat(match_price[1]);

                        currency = match_price[2];

                        var match_tax = regexr.exec(order.tax);

                        if (match_tax) {

                            total_tax += parseFloat(match_tax[1]);

                        }

                    });

                    report_file += '\n\n\n\n';

                    if (filter_report_type == 'detailed') {

                        report_file += '"{{ column_total }}","{{ column_tax }}"\n';
                        report_file += total_price.toFixed(2) + currency + ',' + total_tax.toFixed(2) + currency + '\n\n';
                        report_file += '"{{ column_store }}","{{ column_partners }}"\n';
                        report_file += (total_price - partners_value).toFixed(2) + currency + ',' + partners_value.toFixed(2) + currency;

                        report_file += '\n\n';

                        if (partners_available) {

                            partners_available.forEach(function(part) {

                                report_file += ',' + part['name'] + ',' + part['value'].toFixed(2) + currency + '\n';

                            });

                        }

                    } else if (filter_report_type == 'simple') {

                        report_file += '"{{ column_total }}","{{ column_tax }}"\n';
                        report_file += total_price.toFixed(2) + currency + ',' + total_tax.toFixed(2) + currency;

                    }

                    var hiddenElement = document.createElement('a');
                    hiddenElement.href = 'data:text/csv;charset=UTF-8,' + encodeURI(report_file);
                    hiddenElement.target = '_blank';
                    hiddenElement.download = 'sales_report.csv';
                    document.body.appendChild(hiddenElement);
                    hiddenElement.click();
                    document.body.removeChild(hiddenElement);

                }

            });

        }

        function clearModalList() {

            $('#print-list-table > *').remove();
            $('#hidden-print-list-table > *').remove();

            $('#listModal').modal('show');

        }

        $('#listModal').on('shown.bs.modal', function (e) {

            var url = '';

            var filter_company = $('input[name=\'filter_company\']').val();

            if (filter_company) {

                url += '&filter_company=' + encodeURIComponent(filter_company);

            }

            var filter_date_start = $('input[name=\'filter_date_start\']').val();

            if (filter_date_start) {
                url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
            }

            var filter_date_end = $('input[name=\'filter_date_end\']').val();

            if (filter_date_end) {
                url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
            }

            var filter_report_type = $('select[name=\'filter_report_type\']').val();

            if (filter_report_type) {

                url += '&filter_report_type=' + encodeURIComponent(filter_report_type);

            }

            var filter_partner = $('select[name=\'filter_partner\']').val();

            if (filter_partner) {

                url += '&filter_partner=' + encodeURIComponent(filter_partner);

            }

            var filter_order_status_id = $('select[name=\'filter_order_status_id\']').val();

            if (filter_order_status_id != 0) {
                url += '&filter_order_status_id=' + encodeURIComponent(filter_order_status_id);
            }

            request_url = 'index.php?route=extension/module/event_manager/report/getAllOrders&user_token={{ user_token }}' + url;

            $.ajax({
                url: request_url,
                dataType: 'json',
                type: 'post',
                beforeSend: function () {
                },
                success: function (data) {

                    if ('orders' in data) {

                        var total_price = 0.00;
                        var total_tax = 0.00;
                        var partners_available = [];
                        var currency = '';
                        var partners_value = 0.00;

                        var html = '';

                        data['orders'].forEach(function (item) {

                            var regexr = /(\d+\.\d+)(.)/g;

                            var match_price = regexr.exec(item.price);
                            var recipe_order_price = parseFloat(match_price[1]);
                            var match_tax = regexr.exec(item.tax);

                            total_price = total_price + parseFloat(match_price[1]);
                            currency = match_price[2];

                            if (match_tax) {

                                total_tax = total_tax + parseFloat(match_tax[1]);

                            }

                            html += '<tr>';
                            html += ' <td class="text-left">' + item.datetime + '</td>';
                            html += ' <td class="text-left">' + item.name;
                            item.options.forEach(function (option) {

                                html += '<br />&nbsp;<small> - ' + option.name + ': ' + option.value + '</small>';

                            });
                            html += '</td>';
                            html += ' <td class="text-left">' + item.tax + '</td>';
                            html += ' <td class="text-left">' + item.price + '</td>';
                            html += ' <td class="text-left">' + item.company + '</td>';
                            html += ' <td class="text-left">';
                            item.partners.forEach(function (partner) {

                                html += '<br />&nbsp;<small class="partner" data-partner-value="' + partner.recipe_value + '" data-partner-type="' + partner.recipe_type + '"> - ' + partner.name + '</small>';

                                var resultObject = searchInArray(partner.name, partners_available);

                                if (resultObject == undefined) {

                                    if (partner.recipe_type == 'fix') {

                                        calc_value = parseFloat(partner.recipe_value);
                                        partners_value = partners_value + calc_value;

                                    } else {

                                        calc_value = (recipe_order_price * (parseFloat(partner.recipe_value) / 100));
                                        partners_value = partners_value + calc_value;

                                    }

                                    partners_available.push({"name": partner.name, "value": calc_value});

                                } else {

                                    if (partner.recipe_type == 'fix') {

                                        calc_value = parseFloat(partner.recipe_value);
                                        partners_available[resultObject]['value'] = partners_available[resultObject]['value'] + calc_value;
                                        partners_value = partners_value + calc_value;

                                    } else {

                                        calc_value = (recipe_order_price * (parseFloat(partner.recipe_value) / 100));
                                        partners_available[resultObject]['value'] = partners_available[resultObject]['value'] + calc_value;
                                        partners_value = partners_value + calc_value;

                                    }

                                }

                                /*
                                if (partner.recipe_type == 'fix') {

                                    partners_value = partners_value + parseFloat(partner.recipe_value);

                                } else {

                                    partners_value = partners_value + parseFloat((parseFloat(match_price[1]) * (partner.recipe_value / 100)));

                                }
                                */

                            });
                            html += '</td>';
                            html += '</tr>';

                        });

                        html += '<tr><td colspan="12"></td></tr>';
                        html += '<tr>';
                        html += '<td><b>{{ column_total }}</b></td>';
                        html += '<td><b>{{ column_tax }}</b></td>';
                        html += '</tr>';
                        html += '<tr>';
                        html += '<td>' + total_price.toFixed(2) + currency + '</td>';
                        html += '<td>' + total_tax.toFixed(2) + currency + '</td>';
                        html += '</tr>';

                        if (filter_report_type == 'detailed') {

                            html += '<tr><td colspan="12"></td></tr>';
                            html += '<tr>';
                            html += '<td><b>{{ column_store }}</b></td>';
                            html += '<td><b>{{ column_partners }}</b></td>';
                            html += '</tr>';
                            html += '<tr>';
                            html += '<td>' + (total_price - partners_value).toFixed(2) + currency + '</td>';
                            html += '<td>' + partners_value.toFixed(2) + currency + '</td>';
                            html += '</tr>';

                            if (partners_available) {

                                partners_available.forEach(function(part) {

                                    html += '<tr>';
                                    html += '<td></td>';
                                    html += '<td>' + part['name'] + '</td>';
                                    html += '<td>' + part['value'].toFixed(2) + currency + '</td>';
                                    html += '</tr>';

                                });

                            }

                        }

                        $('#print-list-table').append(html);
                        $('#hidden-print-list-table').append(html);

                    } else {

                        var html = '<tr><td class="text-center" colspan="12">{{ text_no_results }}</td></tr>';

                        $('#hidden-print-list-table').append(html);

                    }

                }
            });

        });

        function printData() {

            $('#header').attr("style", "display: none !important");
            $('#column-left').attr("style", "display: none !important");
            $('#content').attr("style", "display: none !important");
            $('#footer').attr("style", "display: none !important");
            $('#print-area').attr("style", "display: block !important");

            $('#header').css('display', 'none');
            $('#column-left').css('display', 'none');
            $('#content').css('display', 'none');
            $('#footer').css('display', 'none');
            $('#print-area').css('display', 'block');

            document.getElementById("header").style.display = "none";
            document.getElementById("column-left").style.display = "none";
            document.getElementById("content").style.display = "none";
            document.getElementById("footer").style.display = "none";
            document.getElementById("print-area").style.display = "block";

            window.print();

        }

        window.onafterprint = function(){

            $('#header').attr("style", "display: inherit !important");
            $('#column-left').attr("style", "display: inherit !important");
            $('#content').attr("style", "display: inherit !important");
            $('#footer').attr("style", "display: inherit !important");
            $('#print-area').attr("style", "display: none !important");

            $('#header').css('display', 'inherit');
            $('#column-left').css('display', 'inherit');
            $('#content').css('display', 'inherit');
            $('#footer').css('display', 'inherit');
            $('#print-area').css('display', 'none');

            document.getElementById("header").style.display = "inherit";
            document.getElementById("column-left").style.display = "inherit";
            document.getElementById("content").style.display = "inherit";
            document.getElementById("footer").style.display = "inherit";
            document.getElementById("print-area").style.display = "none";

        }

        function searchInArray(nameKey, myArray){
            for (var i=0; i < myArray.length; i++) {
                if (myArray[i].name === nameKey) {
                    return i;
                }
            }
        }

        --></script>

{{ footer }}