{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
            </div>
            <div class="panel-body">
                <form action="submit" method="post" enctype="multipart/form-data" id="form-product-events">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                                <td class="text-left">{% if sort %}
                                        <a href="{{ sort_event_name }}" class="{{ order|lower }}">{{ column_event_name }}</a>
                                    {% else %}
                                        <a href="{{ sort_event_name }}">{{ column_event_name }}</a>
                                    {% endif %}</td>
                                <td class="text-left">{% if sort == 'sort_name' %}
                                        <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                                    {% else %}
                                        <a href="{{ sort_name }}">{{ column_name }}</a>
                                    {% endif %}</td>
                                <td class="text-right">{% if sort == 'sort_status' %}
                                        <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                                    {% else %}
                                        <a href="{{ sort_status }}">{{ column_status }}</a>
                                    {% endif %}</td>
                                <td class="text-right">{{ column_action }}</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if products %}
                                {% for product in products %}
                                    <tr>
                                        <td class="text-center">{% if product.product_id in selected %}
                                                <input type="checkbox" name="selected[]" value="{{ product.product_id }}" checked="checked" />
                                            {% else %}
                                                <input type="checkbox" name="selected[]" value="{{ product.product_id }}" />
                                            {% endif %}</td>
                                        <td class="text-left">{{ product.event_name }}</td>
                                        <td class="text-left">{{ product.name }}</td>
                                        <td class="text-right">{{ product.status }}</td>
                                        <td class="text-right">
                                            <!--<a href="{{ product.print_list }}" data-toggle="tooltip" title="{{ button_print }}" class="btn btn-secundary"><i class="fa fa-print"></i></a>-->
                                            <a href="{{ product.resend_list }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-secundary"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="6">{{ text_no_results }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-6 text-left">{{ pagination }}</div>
                    <div class="col-sm-6 text-right">{{ results }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}