{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a id="preview" href="#" data-toggle="modal" data-target="#listModal" title="{{ button_print }}" class="btn btn-secundary"><i class="fa fa-print"></i></a>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-secundary"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid success-container">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
            </div>
            <div class="panel-body">
                <form action="submit" method="post" enctype="multipart/form-data" id="form-product-events">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                                <td class="text-left">{% if sort %}
                                        <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                                    {% else %}
                                        <a href="{{ sort_name }}">{{ column_name }}</a>
                                    {% endif %}</td>
                                <td class="text-left">{% if sort == 'sort_code' %}
                                        <a href="{{ sort_code }}" class="{{ order|lower }}">{{ column_code }}</a>
                                    {% else %}
                                        <a href="{{ sort_code }}">{{ column_code }}</a>
                                    {% endif %}</td>
                                <td class="text-left">{% if sort == 'sort_email' %}
                                        <a href="{{ sort_email }}" class="{{ order|lower }}">{{ column_email }}</a>
                                    {% else %}
                                        <a href="{{ sort_email }}">{{ column_email }}</a>
                                    {% endif %}</td>

                                <td class="text-left">{{ column_product }}</td>

                                {% if product_options %}

                                    {% for option in product_options %}

                                        <td class="text-center">
                                            {{ option }}
                                        </td>

                                    {% endfor %}

                                {% endif %}

                                <td class="text-right">{{ column_action }}</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if sales %}
                                {% for sale in sales %}
                                    <tr>
                                        <td class="text-center">{% if sale.code in selected %}
                                                <input type="checkbox" name="selected[]" value="{{ sale.code }}" checked="checked" />
                                            {% else %}
                                                <input type="checkbox" name="selected[]" value="{{ sale.code }}" />
                                            {% endif %}
                                        </td>
                                        <td class="text-left">{{ sale.name }}</td>
                                        <td class="text-left">#{{ sale.code }}</td>
                                        <td class="text-left">{{ sale.email }}</td>
                                        <td class="text-left">{{ sale.product }}</td>

                                        {% if product_options %}

                                            {% for option in product_options %}

                                                {% set added = false %}

                                                {% if sale.options %}

                                                    {% for opt in sale.options %}

                                                        {% if opt.name == option %}

                                                            {% set added = true %}

                                                            <td class="text-center">
                                                                {{ opt.value }}
                                                            </td>

                                                        {% endif %}

                                                    {% endfor %}


                                                    {% if added == false %}

                                                        <td class="text-center">
                                                            <i class="fa fa-minus"></i>
                                                        </td>

                                                    {% endif %}

                                                {% else %}

                                                    <td class="text-center">
                                                        <i class="fa fa-minus"></i>
                                                    </td>

                                                {% endif %}

                                            {% endfor %}

                                        {% endif %}

                                        <td class="text-right">
                                            <a href="javascript:resend({{ sale.code }})" id="line-{{ sale.code }}" data-order="{{ sale.order_id }}" data-order-product="{{ sale.order_product_id }}" data-product="{{ sale.product_id }}"  data-toggle="tooltip" title="{{ button_resend }}" class="btn btn-secundary">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="12">{{ text_no_results }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-6 text-left">{{ pagination }}</div>
                    <div class="col-sm-6 text-right">{{ results }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>

                            <td class="text-left">{% if sort %}
                                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                                {% else %}
                                    <a href="{{ sort_name }}">{{ column_name }}</a>
                                {% endif %}</td>
                            <td class="text-left">{% if sort == 'sort_code' %}
                                    <a href="{{ sort_code }}" class="{{ order|lower }}">{{ column_code }}</a>
                                {% else %}
                                    <a href="{{ sort_code }}">{{ column_code }}</a>
                                {% endif %}</td>
                            <td class="text-left">{% if sort == 'sort_email' %}
                                    <a href="{{ sort_email }}" class="{{ order|lower }}">{{ column_email }}</a>
                                {% else %}
                                    <a href="{{ sort_email }}">{{ column_email }}</a>
                                {% endif %}</td>
                            <td class="text-left">{{ column_product }}</td>

                            {% if product_options %}

                                {% for option in product_options %}

                                    <td class="text-center">
                                        {{ option }}
                                    </td>

                                {% endfor %}

                            {% endif %}
                        </tr>
                        </thead>
                        <tbody id="print-list-table">
                        {% if sales is empty %}
                            <tr>
                                <td class="text-center" colspan="12">{{ text_no_results }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a id="print" href="javascript:printData();" data-toggle="tooltip" title="{{ button_print }}" class="btn btn-secundary"><i class="fa fa-print"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="print-area" style="display: none; width: 100%;">

    <img src="{{ logo }}"style="height: auto; width: 150px; margin-bottom: 20px; border: none;" />

    <table class="table table-bordered table-hover" style="width: 100%;">
        <thead>
        <tr>

            <td class="text-left">
                {{ column_name }}
            </td>
            <td class="text-left">
                {{ column_code }}
            </td>
            <td class="text-left">
                {{ column_email }}</a>
            </td>
            <td class="text-left">{{ column_product }}</td>

            {% if product_options %}

                {% for option in product_options %}

                    <td class="text-center">
                        {{ option }}
                    </td>

                {% endfor %}

            {% endif %}
        </tr>
        </thead>
        <tbody id="hidden-print-list-table">
        {% if sales is empty %}
            <tr>
                <td class="text-center" colspan="12">{{ text_no_results }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>

<script type="text/javascript"><!--

    function resend(barcode) {

        var order_id = $('#line-' + barcode).attr('data-order');
        var order_product_id = $('#line-' + barcode).attr('data-order-product');
        var product_id = $('#line-' + barcode).attr('data-product');

        $.ajax({
            url: 'index.php?route=extension/module/event_manager/resend_document/resendDocument&user_token={{ user_token }}',
            dataType: 'json',
            type: 'post',
            data: {
                "order_id": order_id,
                "order_product_id": order_product_id,
                "product_id": product_id,
                "barcode": barcode,
            },
            beforeSend: function() {

                //$('#line-' + barcode).css('visibility', 'hidden');
                $('#line-' + barcode).css('display', 'none');
                $('#line-' + barcode).parent().append('<i class="spin-send-email fa fa-circle-o-notch fa-spin"></i>');

            },
            success: function (data) {

                if ('success' in data) {

                    $('.spin-send-email').remove();
                    //$('#line-' + barcode).css('visibility', 'visible');
                    $('#line-' + barcode).css('display', 'initial');

                    $('.alert.alert-success.alert-dismissible').remove();

                    var html = '';

                    html += '<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + data['success']['message'];
                    html += '   <button type="button" class="close" data-dismiss="alert">&times;</button>';
                    html += '</div>';

                    $('.success-container').prepend(html);
                    $('#line-' + barcode).parent().parent().find('td:eq(2)').text('#' + data['success']['data']);
                    $('#line-' + data['success']['data']).attr('id', 'line-' + data['success']['data']);
                    $('#line-' + data['success']['data']).attr('href', 'javascript:resend(' + data['success']['data'] + ')');

                }

            }
        });

    }

    $('#listModal').on('shown.bs.modal', function (e) {

        $.ajax({
            url: 'index.php?route=extension/module/event_manager/resend_document/loadAllOrders&user_token={{ user_token }}',
            dataType: 'json',
            type: 'post',
            data: {
                "product_id": {{ product_id }}
            },
            beforeSend: function() {

                $('#print-list-table > *').remove();
                $('#hidden-print-list-table > *').remove();

            },
            success: function (data) {

                if ('success' in data && data['success']['value'] === true) {

                    var html = '';

                    data['success']['data'].forEach(function (item) {

                        html += '<tr>';
                        html += ' <td class="text-left">' + item.name + '</td>';
                        html += ' <td class="text-left">#' + item.code + '</td>';
                        html += ' <td class="text-left">' + item.email + '</td>';
                        html += ' <td class="text-left">' + item.product + '</td>';

                        if (data['success']['options']) {

                            data['success']['options'].forEach(function(option) {

                                var added = false;

                                if (item.options) {

                                    item.options.forEach(function(opt) {

                                        if (opt.name == option) {

                                            added = true;

                                            html += ' <td class="text-center">' + opt.value + '</td>';

                                        }

                                    });

                                    if (added == false) {

                                        html += ' <td class="text-center"><i class="fa fa-minus"></i></td>';

                                    }

                                } else {

                                    html += ' <td class="text-center"><i class="fa fa-minus"></i></td>';

                                }

                            });

                        }

                        html += '</tr>';

                    });

                    $('#print-list-table').append(html);
                    $('#hidden-print-list-table').append(html);

                } else {

                    var html = '<tr><td class="text-center" colspan="12">{{ text_no_results }}</td></tr>';

                    $('#hidden-print-list-table').append(html);

                }

            }
        });

    });

    function printData() {

        $('#header').attr("style", "display: none !important");
        $('#column-left').attr("style", "display: none !important");
        $('#content').attr("style", "display: none !important");
        $('#footer').attr("style", "display: none !important");
        $('#print-area').attr("style", "display: block !important");

        $('#header').css('display', 'none');
        $('#column-left').css('display', 'none');
        $('#content').css('display', 'none');
        $('#footer').css('display', 'none');
        $('#print-area').css('display', 'block');

        document.getElementById("header").style.display = "none";
        document.getElementById("column-left").style.display = "none";
        document.getElementById("content").style.display = "none";
        document.getElementById("footer").style.display = "none";
        document.getElementById("print-area").style.display = "block";

        window.print();

    }

    window.onafterprint = function(){

        $('#header').attr("style", "display: inherit !important");
        $('#column-left').attr("style", "display: inherit !important");
        $('#content').attr("style", "display: inherit !important");
        $('#footer').attr("style", "display: inherit !important");
        $('#print-area').attr("style", "display: none !important");

        $('#header').css('display', 'inherit');
        $('#column-left').css('display', 'inherit');
        $('#content').css('display', 'inherit');
        $('#footer').css('display', 'inherit');
        $('#print-area').css('display', 'none');

        document.getElementById("header").style.display = "inherit";
        document.getElementById("column-left").style.display = "inherit";
        document.getElementById("content").style.display = "inherit";
        document.getElementById("footer").style.display = "inherit";
        document.getElementById("print-area").style.display = "none";

    }

//--></script>

{{ footer }}