<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>

<head>

    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/fd517b4c0c.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{{ title }}</title>

    <style>

        :root {

            --footer-background-color: {{ config_event_manager_email_footer_background }};
            --footer-text-color: {{ config_event_manager_email_footer_text_color }};

        }

        body {

            font-family: 'Nunito';

        }

        .mail-content {

            width: 595px;
            height: 842px;

        }

        .content-body {

            padding: 10px 0px;
            text-align: center;

        }

        .content-footer {

            background-color: var(--footer-background-color);
            color: var(--footer-text-color);
            font-size: 12px;
            padding: 20px 10%;

        }

        .separator-line {

            border: 1px solid var(--footer-background-color);

        }

        .contact-tag {

            display: inline-block;
            width: 33%;

        }

        .contacts-website {

            float: left;
            text-align: left;

        }

        .contacts-mail {

            text-align: center;

        }

        .contacts-telephone {

            float: right;
            text-align: right;

        }

        a {

            color: inherit;
            text-decoration: inherit;

        }

        .check-order {

            color: var(--footer-background-color);;
            text-decoration: none;
            font-weight: 800;
            transition: all 300ms;

        }

        .check-order:hover {

            font-size: 20px;

        }

        .products-table {

            border-collapse: collapse;
            width: 100%;
            border-top: 1px solid var(--footer-background-color);
            border-left: 1px solid var(--footer-background-color);
            margin-bottom: 20px;

        }

        .link-button {

            background-color: var(--footer-background-color);
            color: var(--footer-text-color);
            padding: 5px;
            text-align:center;
            display:block;
            margin: 5px 35%;

        }

        .content-header {

            width: 100%;
            height: 40%;
            border-bottom: 1px dashed black;

        }

        .header-image {

            width: 50%;
            float: left;
            height: auto;

        }

        .header-image img {

            display: block;
            margin: auto;
            width: 90%;
            height: auto;

        }

        .header-voucher-left {

            width: 45%;
            float: left;
            height: auto;

        }

        .header-voucher {

            width: 45%;
            float: right;
            height: auto;

        }

        .voucher {

            /*padding-right: 5%;*/
            font-size: 12px;

        }

        .voucher-heading {

            color: #045866;
            text-align: center;
            margin-bottom: 0px;

        }

        hr {

            color: #40C1BD;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 0px;

        }

        .voucher-text {

            text-align: justify;

        }

        h5.voucher-code {

            margin: 0px;

        }

        .voucher-code {

            color: #045866;

        }

        .voucher-details {

            color: #40C1BD;

        }

        .program {

            font-size: 12px;

        }

        .mail-content {

            overflow-x: auto;
            max-width: 80%;
            padding-left: 10%;
            padding-right: 10%;

        }

    </style>

</head>

<body >

<div class="mail-content">

    <div class="content-header">

        <div class="header-image">

            <img src="{{ config_event_manager_email_voucher_image }}">

        </div>

        <div class="header-voucher">

            <div class="voucher">

                <h1 class="voucher-heading">{{ text_voucher }}</h1>
                <hr class="heading-line">

                <div class="voucher-text">
                    {{ text_voucher_description }}
                </div>

                <h3 class="voucher-code"><span>(CODE)</span></h3>

                {% for attribute in product_attributes %}

                    <h5 class="voucher-code">{{ attribute.name }} <span class="voucher-details">{{ attribute.text }}</span></h5>

                {% endfor %}

                {% for option in product_options %}

                    {% if option.name ==  'Associated Name' or option.name == 'Nome Associado' %}

                        <h5 class="voucher-code">{{ option.name }} <span class="voucher-details">{{ option.value }}</span></h5>

                    {% endif %}

                {% endfor %}

                <h5 class="voucher-code">{{ text_corporation }}<span class="voucher-details"> {{ corporation }}</span></h5>

            </div>

        </div>

    </div>

    <div class="content-body">

        {{ event_manager_description|convert_encoding('UTF-8', 'HTML-ENTITIES')}}

    </div>

</div>

</div>

</body>

</html>